$black: #1a1a1a;
$dark-gray: #292929;
$light-orange: #f0de9f;
$gradients-purple: linear-gradient(to right, #af6bad, #7f4cb1);
$gradients-green: linear-gradient(to right, #93bc6f, #b1b963);
$gradients-red: linear-gradient(to right, #c9785f, #a54d4d);
$gradients-blue: linear-gradient(to right, #6b8faf, #4cb199);

$alerts-red: #b25d54;
$alerts-green: #b25d54;

$yellow: #ffc260;
$blue: #536dfe;
$light-blue: #798dfe;
$white-blue: #b1bcff;
$blue-white: #f3f5ff;
$pink: #ff4081;
$dark-pink: #ff0f60;
$green: #3cd4a0;
$violet: #9013fe;
$white: white;
$dark-grey: #4a4a4a;
$light-grey: #b9b9b9;
$grey: #6e6e6e;
$grey-c: #6e6e6e;
$sky: #c0caff;
$dark-gray: #707070;
$white-gray: #ccc;
$black: #000000;
$white-35: rgba(255, 255, 255, 0.35);
$white-80: #ffffff80;
$white-10: #dfe7ec;
$gray-08: rgba(110, 110, 110, 0.8);
$gray-80: #d8d8d880;
$gray-06: rgba(110, 110, 110, 0.6);
$gray-09: #b7c2ee;
$gray-10: #a4a4a4;

$black-08: rgba(0, 0, 0, 0.08);
$black-09: rgba(0, 0, 0, 0.16);
$pink-15: rgba(255, 92, 147, 0.15);
$blue-15: rgba(83, 109, 254, 0.15);
$green-15: rgba(60, 212, 160, 0.15);
$yellow-15: rgba(255, 194, 96, 0.15);
$violet-15: rgba(144, 19, 254, 0.15);
$shadow-white: #e8eafc;
$shadow-grey: #b2b2b21a;
$shadow-dark-grey: #9a9a9a1a;
$background-color: #000000;
$sidebar-background-color: #000000;
//  mầu phần account
$blue09: #0974df;
$blue10: #d3e8ff;
$button-bg: linear-gradient(to right, #50a0fc, #032cc1);
$button-border-01: #50a0fc;
$button-border-02: #ff4242;
$border-01: #cfe6ff;
$color-text-tb: #707070;
$bg-btn-account: linear-gradient(to right, #50a0fc, #032cc1);
$color-text-tb: #707070;
$bg-btn-cancel: #d6d6d6;
$bg-btn-account: linear-gradient(to right, #50a0fc, #032cc1);
$color-text-tb: #707070;
$bg-btn-cancel: #d6d6d6;

//màu phần market
$color-border: #cfe6ff;
$color-input-check: #2196f3;
$color-bg-td: #f9f9f9;
$color-white-blue: #bfddff;
$boder-radius-create-image: #50a0fc;
//menu
$color-bg-menu: #1894FF;
$gradients-menu-active: linear-gradient(to right, rgba(102, 184, 255, 0.4), rgba(255, 255, 255, 0.6));
$color-white: #ffffff;
$color-bg-main: #F8F8F8;
$color-text-profile: #707070;
