.auth-general{
   display: flex;
   margin-top: 20px;
   div{
       display: flex;
       flex-direction: column;
   }

   .first{
    border: none;
    background-color: #0089ff !important;
    height: 60px;
}
   .function{
       min-height: 60px;
       text-align: center;
       width: 100%;
       justify-content: center;
       
       input[type='checkbox']{
           width: 20px;
           height: 20px;
           margin: auto;
       }
   }
   .function:nth-child(1){
     background-color: #0089ff !important;
     color: white;
   }
   .function:nth-child(odd){
      background-color: #DDDDDD;
   }
  
   .name-function{
    //    .function{
    //        border: 1px solid;
    //        border-bottom: none !important; 
    //    }
    //    .function:nth-child(7){
    //        border-bottom: 1px solid !important;
    //    }
   }
}