<div class="auth-general">
    <div class="col-2 p-0 name-function">
        <div class="first">

        </div>
        <div class="function">
            Thêm dịch vụ mới
        </div>
        <div class="function">
            Sửa thông tin dịch vụ
        </div>
        <div class="function">
            Import feedback khách hàng
        </div>
        <div class="function">
            Import phản ánh VNCERT
        </div>
        <div class="function">
            Quét trang CSKH tổng
        </div>
        <div class="function">
            Quét trang CSKH
        </div>

    </div>
    <div class="col-2 p-0">
        <div class="function">
            Trưởng phòng
        </div>
        <div class="check function" *ngFor="let item of [1,1,1,1,1,1]">
            <input type="checkbox" name="" id="">
        </div>
    </div>
    <div class="col-2 p-0">
        <div class="function">
            Phó phòng
        </div>
        <div class="check function" *ngFor="let item of [1,1,1,1,1,1]">
            <input type="checkbox" name="" id="">
        </div>
    </div>
    <div class="col-2 p-0">
        <div class="function">
            Kỹ thuật
        </div>
        <div class="check function" *ngFor="let item of [1,1,1,1,1,1]">
            <input type="checkbox" name="" id="">
        </div>
    </div>
    <div class="col-2 p-0">
        <div class="function">
            TN. Chăm sóc khách hàng
        </div>
        <div class="check function" *ngFor="let item of [1,1,1,1,1,1]">
            <input type="checkbox" name="" id="">
        </div>
    </div>
    <div class="col-2 p-0">
        <div class="function">
            Chăm sóc khách hàng
        </div>
        <div class="check function" *ngFor="let item of [1,1,1,1,1,1]">
            <input type="checkbox" name="" id="">
        </div>
    </div>
</div>