<div class="import">
    <h3 class="title">Import tài liệu</h3>
    <hr>
    <div class="form">
        <div class="step">
            <div class="label">
                <p>Bước 1:</p>
            </div>
            <div class="upload">
                <p>Tải file mẫu</p>
                <a href="/">Hướng dẫn sử dụng.pdf</a>
            </div>
            
        </div>
        <br>
        <div class="step">
            <div class="label">
                <p>Bước 2:</p>
            </div>
            <div class="upload">
                <p>Upload file</p>
                <div class="mt-2">
                    <input  type="file" multiple="false" (change)="incomingfile($event)">
                </div>
                <p class="error" *ngIf="checkError">Chưa chọn file!</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="base-button-upload">
        <button class="base-button-upload-cancel" (click)="closeDialog()">Huỷ bỏ</button>
        <button class="base-button-upload-import"  (click)="Upload()">Import</button>
    </div>
</div>
