.report-portal{
    height: 100%;
    #chart{
        padding: 25px 40px 0 30px;
    }
    .detail{
        padding: 0 40px 0 40px;
        .table{
            
            th, td{
                text-align: center;
            }
        }
    }
}