<mat-nav-list class="nav">
  <div class="logo">
    <img src="assets/images/logo.png" alt="" srcset="" />
  </div>
  <div class="scroll">
    <div *ngFor="let navItem of listRoute" class="nav-item">
      <div class="nav-head mat-elevation-z0" routerLinkActive="selected">
        <a class="nav-link" [routerLink]="navItem.path">
          <img [src]="navItem.icon" />
          <span class="nav-link-text">{{ navItem.name }}</span>
        </a>

      </div>
      <div class="item-menu-sub" *ngIf="navItem.show">
        <div class="sub-menu" *ngFor="let item of navItem.childrent">
          <div class="sub-menu-path" [routerLink]="item.path" routerLinkActive="select-setting">
            {{ item.name }}
          </div>
        </div>
      </div>
    </div>
  </div>

</mat-nav-list>